@use '../../styles/core/boilerplate.scss'as *;

.dropdown_wrapper {
  position: relative;
  display: inline-block;
}

.content_wrapper {
  border-radius: 4px;
  z-index: 1;
  background-color: $color-background-neutral-0;
  box-shadow: $drop-shadow;
}

.left {
  position: absolute;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
}
