@use '../tools/media-queries.scss' as *;
@use '../tools/mixins.scss' as *;

// ---------------------------------
//   Quick Typograpjhy
// ---------------------------------
.u-font-12 {
  @include font-size(12);
}

.u-font-14 {
  @include font-size(14);
}

.u-font-16 {
  @include font-size(16);
}

.u-font-18 {
  @include font-size(18);
}

.u-capitalize {
  text-transform: capitalize;
}

// ---------------------------------
//   Visibility
// ---------------------------------

.u-hidden {
  display: none !important;
}

.u-hidden-mobile-only {
  @include mobile-only {
    display: none !important;
  }
}

.u-hidden-tablet-up {
  @include tablet-up {
    display: none !important;
  }
}

.u-hidden-tablet-only {
  @include tablet-only {
    display: none !important;
  }
}

.u-hidden-desktop-up {
  @include desktop-up {
    display: none !important;
  }
}

.u-hidden-desktop-only {
  @include desktop-only {
    display: none !important;
  }
}

.u-hidden-hd-up {
  @include hd-up {
    display: none !important;
  }
}


// ---------------------------------
//   Misc
// ---------------------------------

.u-sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.u-clear-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.u-pointer {
  cursor: pointer;
}

.u-no-link {

  &,
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.u-overflow-x-hidden {
  overflow-x: hidden;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-left {
  text-align: left;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-title-case {
  text-transform: capitalize;
}

.u-left-absolute {
  position: absolute;
  left: 0
}

.u-right-absolute {
  position: absolute;
  right: 0
}

.u-width-100 {
  width: 100%;
}

/**
PADDING
**/
.padding {
  &-5 {
    padding: 5px;
  }

  &-10 {
    padding: 10px;
  }

  &-15 {
    padding: 15px;
  }

  &-20 {
    padding: 20px;
  }
}

.padding-right {
  &-5 {
    padding-right: 5px;
  }

  &-10 {
    padding-right: 10px;
  }

  &-15 {
    padding-right: 15px;
  }

  &-20 {
    padding-right: 20px;
  }
}

.padding-left {
  &-5 {
    padding-left: 5px;
  }

  &-10 {
    padding-left: 10px;
  }

  &-15 {
    padding-left: 15px;
  }

  &-20 {
    padding-left: 20px;
  }
}

.padding-bottom {
  &-5 {
    padding-bottom: 5px;
  }

  &-10 {
    padding-bottom: 10px;
  }

  &-15 {
    padding-bottom: 15px;
  }

  &-20 {
    padding-bottom: 20px;
  }
}

.padding-top {
  &-5 {
    padding-top: 5px;
  }

  &-10 {
    padding-top: 10px;
  }

  &-15 {
    padding-top: 15px;
  }

  &-20 {
    padding-top: 20px;
  }
}

/**
MARGIN
**/
.margin {
  &-5 {
    margin: 5px;
  }

  &-10 {
    margin: 10px;
  }

  &-15 {
    margin: 15px;
  }

  &-20 {
    margin: 20px;
  }
}

.margin-top {
  &-5 {
    margin-top: 5px;
  }

  &-10 {
    margin-top: 10px !important;
  }

  &-15 {
    margin-top: 15px;
  }

  &-20 {
    margin-top: 20px;
  }
}

.margin-bottom {
  &-5 {
    margin-bottom: 5px;
  }

  &-10 {
    margin-bottom: 10px;
  }

  &-15 {
    margin-bottom: 15px;
  }

  &-20 {
    margin-bottom: 20px;
  }
}

.margin-right {
  &-5 {
    margin-right: 5px;
  }

  &-10 {
    margin-right: 10px;
  }

  &-15 {
    margin-right: 15px;
  }

  &-20 {
    margin-right: 20px;
  }
}

.margin-left {
  &-5 {
    margin-left: 5px;
  }

  &-10 {
    margin-left: 10px;
  }

  &-15 {
    margin-left: 15px;
  }

  &-20 {
    margin-left: 20px;
  }
}
