@use '../../styles/core/boilerplate.scss'as *;

.input {
  &_wrapper {
    @include primary-font();
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;

    label {
      @include font-size(16);
      color: $color-text-main;
      line-height: 24px;
      margin-bottom: 6px;
      font-weight: 600;

      span {
        color: $color-semantic-critical;
      }
    }
  }

  &_container {
    display: flex;
    position: relative;
    flex-direction: column;

    input {
      @include font-size(16);
      color: $color-text-main;
      border: $color-border-1 solid 2px;
      border-radius: 12px;
      padding: 12px;
      font-family: inherit;

      &.has_error {
        border: $color-semantic-critical solid 2px;
      }

      &.has_icon {
        padding-right: 40px;
      }
    }
  }

  &_error {
    input {
      border: $color-semantic-critical solid 1px;
    }
  }
}

.tool_tip {
  margin-left: 10px;
  svg {
    stroke: $color-interactions-menu;
  }
}

.label {
  display: flex;
}

.error_message {
  @include font-size(16);
  color: $color-semantic-critical;
  margin-top: 6px;
  line-height: 24px;
}

.info {
  @include font-size(16);
  margin-top: 6px;
  color: $color-text-subtle;
  line-height: 24px;
}

@mixin icon() {
  position: absolute;
  top: 14px;
  right: 12px;
}

.icon_success {
  @include icon();
  stroke: $color-semantic-success;
}

.icon_error {
  @include icon();
  stroke: $color-semantic-critical;
}

.icon_default {
  @include icon();
  stroke: $color-text-info;
}
