@use '../../styles/core/boilerplate.scss'as *;

.success {
  font-family: var(--font-primary);
  font-size: var(--copy-button-font-size);
  font-weight: var(--copy-button-font-weight);
  line-height: 24px;
  color: var(--copy-button-text-color);
  padding: 8px;
}
