main[data-theme="light"], :root {
  --color-interaction-primary: #1700C7;
  --color-interaction-primary-hover:#170696;
  --color-interaction-primary-active:#140968;
  --color-interaction-primary-disabled: #BABBBC;
  --color-interaction-primary-alt:#FFFFFF;
  --color-interaction-primary-alt-hover:#E8EFFD;
  --color-interaction-primary-alt-active:#CBD8F0;
  --color-interaction-primary-alt-disabled:#E7E7E7;
  --color-interaction-secondary:#E8E8EA;
  --color-interaction-secondary-hover:#DCDCDF;
  --color-interaction-secondary-active:#CCCCD1;
  --color-interaction-secondary-disabled:#A3A6AD;
  --color-interaction-secondary-alt:#FFFFFF;
  --color-interaction-secondary-alt-hover:#E8E8E8;
  --color-interaction-secondary-alt-active:#D9D9D9;
  --color-interaction-secondary-alt-disabled:#E7E7E7;
  --color-semantic-info:#000000;
  --color-semantic-info-hover:#000000;
  --color-semantic-info-active:#000000;
  --color-semantic-disabled:#000000;
  --color-semantic-success:#000000;
  --color-semantic-success-hover:#000000;
  --color-semantic-success-active:#000000;
  --color-semantic-success-disabled:#000000;
  --color-semantic-warning:#000000;
  --color-semantic-warning-hover:#000000;
  --color-semantic-warning-active:#000000;
  --color-semantic-warning-disabled:#000000;
  --color-semantic-critical:#000000;
  --color-semantic-critical-hover:#000000;
  --color-semantic-critical-active:#000000;
  --color-semantic-critical-disabled:#000000;
  --color-text-main:#222222;
  --color-text-subtitle:#8F8F8F;
  --color-text-reverse:#FFFFFF;
  --color-text-reverse-subtle:#E7E7E7;
  --color-text-disabled:#AAAAAA;
  --color-text-info:#000000;
  --color-text-success:#000000;
  --color-text-warning:#000000;
  --color-text-critical:#000000;
  --color-border-1:#E6E6E6;
  --color-border-2:#F9F9F9;
  --color-neutral-0:#FFFFFF;
  --color-neutral-1:#F5F5F5;
  --color-neutral-2:#EDEDED;
  --color-neutral-3:#E7E7E7;
}

// PLACE HOLDER FOR DARK VALUES 
main[data-theme="dark"] {
  --color-interaction-primary: #ff8052;
  --color-interaction-primary-hover:#170696;
  --color-interaction-primary-active:#140968;
  --color-interaction-primary-disabled: #BABBBC;
  --color-interaction-primary-alt:#FFFFFF;
  --color-interaction-primary-alt-hover:#E8EFFD;
  --color-interaction-primary-alt-active:#CBD8F0;
  --color-interaction-primary-alt-disabled:#E7E7E7;
  --color-interaction-secondary:#E8E8EA;
  --color-interaction-secondary-hover:#DCDCDF;
  --color-interaction-secondary-active:#CCCCD1;
  --color-interaction-secondary-disabled:#A3A6AD;
  --color-interaction-secondary-alt:#FFFFFF;
  --color-interaction-secondary-alt-hover:#E8E8E8;
  --color-interaction-secondary-alt-active:#D9D9D9;
  --color-interaction-secondary-alt-disabled:#E7E7E7;
  --color-semantic-info:#000000;
  --color-semantic-info-hover:#000000;
  --color-semantic-info-active:#000000;
  --color-semantic-disabled:#000000;
  --color-semantic-success:#000000;
  --color-semantic-success-hover:#000000;
  --color-semantic-success-active:#000000;
  --color-semantic-success-disabled:#000000;
  --color-semantic-warning:#000000;
  --color-semantic-warning-hover:#000000;
  --color-semantic-warning-active:#000000;
  --color-semantic-warning-disabled:#000000;
  --color-semantic-critical:#000000;
  --color-semantic-critical-hover:#000000;
  --color-semantic-critical-active:#000000;
  --color-semantic-critical-disabled:#000000;
  --color-text-main:#222222;
  --color-text-subtitle:#8F8F8F;
  --color-text-reverse:#FFFFFF;
  --color-text-reverse-subtle:#E7E7E7;
  --color-text-disabled:#AAAAAA;
  --color-text-info:#000000;
  --color-text-success:#000000;
  --color-text-warning:#000000;
  --color-text-critical:#000000;
  --color-border-1:#E6E6E6;
  --color-border-2:#F9F9F9;
  --color-neutral-0:#FFFFFF;
  --color-neutral-1:#F5F5F5;
  --color-neutral-2:#EDEDED;
  --color-neutral-3:#E7E7E7;
}