@use '../../styles/core/boilerplate.scss'as *;

.select {
  &_wrapper {
    @include primary-font();
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    position: relative;

    label {
      @include font-size(16);
      color: $color-text-main;
      line-height: 24px;
      margin-bottom: 6px;
      font-weight: 600;

      span {
        color: $color-semantic-critical;
      }
    }

    select {
      @include font-size(16);
      color: $color-text-main;
      border: $color-border-1 solid 2px;
      border-radius: 12px;
      padding: 12px;
      background: transparent;
      appearance: none;
      background-color: transparent;
      z-index: 1;

      &.has_error {
        border: $color-semantic-critical solid 2px;
      }

      &.has_icon {
        padding-right: 40px;
      }
    }
  }

  &_container {
    position: relative;
    width: 100%;
    display: flex;
    background-color: $color-neutral-0;
    flex-direction: column;
    border-radius: 12px;
  }

  &_error {
    select {
      border: $color-semantic-critical solid 1px;
    }
  }
}

.arrow {
  position: absolute;
  right: 14px;
  top: 13px;
  stroke: $color-interactions-menu;
}

.error_message {
  @include font-size(16);
  color: $color-semantic-critical;
  margin-top: 6px;
  line-height: 24px;
}

.info {
  @include font-size(16);
  margin-top: 6px;
  color: $color-text-subtle;
  line-height: 24px;
}
