@use '../../styles/core/boilerplate.scss'as *;

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  background-color: $color-background-subtle-callout;

  img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
  }
}
