@use '../../styles/core/boilerplate.scss'as *;

.wrapper {
  width: 100%;
  height: 6px;
  position: relative;
  overflow: hidden;
}

.container {
  background-color: $color-neutral-1;
  border: 1px solid $color-text-main;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 6px;
  box-sizing: border-box;
}

.value {
  background-color: $color-text-main;
  height: 4px;
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 6px;
}
